.search-location-input {
  display: flex;
  input {
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 4px gray;
    margin: 3px;
  }
  button {
    box-shadow: 1px 1px 3px gray;
    img {
      height: 20px;
      width: 20px;
    }
  }
}
