.become-a-guide {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $text-font;
  border-radius: 5px;
  //   align-items: center;
  h1 {
    position: absolute;
    top: 75px;
    width: 100%;
    font-family: $header-font;
    color: black;
    font-size: 4em;
    background: white;
    // text-shadow: 2px 2px 6px black;
    border-bottom: 3px solid black;
  }
  .guide-form {
    position: relative;
    // border: 2px solid black;
    height: 300px;
    display: flex;
    border: 5px solid rgb(240, 184, 40);
    width: 200px;
    flex-direction: column;
    align-items: center;
    font-family: $text-font;
    margin: 50px;
    padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    input {
      margin: 10px;
      padding: 3px;
      color: black;
      font-family: $text-font;
    }
    select {
      width: 90%;
      margin: 10px;
      padding: 3px;
      color: black;
      font-family: $text-font;
    }
    .login-box-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      height: 50px;
      background: lightgray;
      width: 100%;
      bottom: 0px;
      padding: 10px 0px;
      font-size: 0.7em;
    }
  }
}

@media only screen and (min-width: 600px) {
  .become-a-guide {
    display: flex;
    margin: auto;
    width: 70%;
  }
}
