.contact {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  text-align: center;
  h1 {
    font-family: $header-font;
    font-size: 2em;
    margin: 20px auto;
    // border-bottom: 3px solid black;
  }
  .contact-content {
    display: flex;
    flex-direction: column;
    font-family: $text-font;
    justify-content: space-around;
    align-items: center;
    div {
      text-align: center;
      width: 300px;
      //   margin: 20px;
      button {
        width: 100%;
      }
    }
    form {
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      input {
        font-family: $text-font;
        margin: 4px;
        padding: 5px;
      }
      textarea {
        width: 50%;
        font-family: $text-font;
        margin: 4px;
        padding: 5px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .contact {
    h1 {
      font-size: 4em;
      margin: 50px auto;
    }
    .contact-content {
      display: flex;
      flex-direction: row;
      div {
        text-align: inherit;
      }
    }
  }
}
