@import "globals/variables";
.home {
  // border: 2px solid black;
  // height: 80vh;
}
.home-search {
  position: absolute;
  top: 125px;
  left: 10px;
}

@media only screen and (min-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    // border: 2px solid black;
    text-align: center;
  }

  .home-search {
    position: absolute;
    top: 200px;
    left: 250px;
  }
}
