.info-block {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  .info-pic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    // border: 5px solid $yellow;
    // box-shadow: 5px 5px 10px gray;
    // padding: 15px;
    margin: 15px;
  }
  .info-text {
    h2 {
      //   background: $yellow;
      border: $yellow;
      padding: 5px;
      font-family: $header-font;
      // text-shadow: 2px 2px 3px black;
    }
    p {
      padding: 15px;
      font-family: $text-font;
    }
    // border: 7px solid black;

    // box-shadow: 5px 5px 10px gray;
    // padding: 5px;
    border-radius: 12px;
  }
}

@media only screen and (min-width: 600px) {
  .info-block {
    .info-pic {
      height: 175px;
      width: 175px;
    }
  }
}
