@import "globals/Variables";
.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: black;
  //   border: 2px solid black;
  h1 {
    font-family: $header-font;
    color: white;
    text-shadow: 1px 1px 3px black;
    border-bottom: 3px solid white;
  }
}

@media only screen and (min-width: 600px) {
  .jumbotron {
    h1 {
      font-size: 4em;
      border-bottom: 5px solid white;
    }
  }
}
