@import "globals/Variables";

.register {
  display: flex;
  flex-direction: column;
  height: 120vh;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-family: $text-font;
  border-radius: 5px;
  //   align-items: center;
  h1 {
    position: absolute;
    top: 75px;
    width: 100%;
    font-family: $header-font;
    color: black;
    font-size: 4em;
    background: white;
    // text-shadow: 2px 2px 6px black;
    border-bottom: 3px solid black;
  }
  .registration-div {
    position: relative;
    // border: 2px solid black;
    // height: 250px;
    display: flex;
    border: 5px solid rgb(240, 184, 40);
    // width: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $text-font;
    margin: 50px;
    // padding: 50px;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

    .profile-picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .registration-form {
      form {
        display: flex;
        flex-direction: column;
        // height: 500px;
        input {
          margin: 5px;
          padding: 3px;
          font-family: $text-font;
        }
        button {
          margin: 20px 0px;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .register {
    display: flex;
    margin: auto;
    width: 70%;
    height: 1000px;
    .registration-div {
      padding: 40px;
    }
  }
}
