.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 80vh;
  .google-maps-placeholder {
    height: 350px;
    width: 100%;
    margin-bottom: 50px;

    text-align: center;
    // border: 2px solid black;
    h1 {
      font-family: $header-font;
      color: $yellow;
      text-shadow: 2px 2px black;
      font-size: 3em;
    }
  }
  .guides {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    // border: 2px solid black;
    .guides-title {
      // border: 2px solid black;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      height: 75px;
      color: $yellow;
      text-align: center;
      font-size: 2em;
      font-family: $header-font;
      text-shadow: 2px 2px black;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);

      // border-bottom: 2px solid black;
    }
    .available-guides {
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      //   width: 50%;
      // border: 2px solid black;
      overflow: scroll;
      font-size: 0.8em;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      // width: 100%;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
    }
    .available-guides::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  .search {
    display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: flex-start;
    // height: 80vh;
    .google-maps-placeholder {
      height: 700px;
      width: 100%;
      h1 {
        font-size: 3em;
      }
      // border: 2px solid black;
    }
    .guides {
      margin: 0px;
      display: flex;
      height: 100%;
      align-items: center;
      flex-direction: column;
      width: 80%;
      // border: 2px solid black;
      .guides-title {
        // border: 2px solid black;
        height: 75px;
        text-align: center;
        font-size: 2em;
        font-family: $header-font;
      }

      .available-guides {
        font-size: 1em;
        width: 100%;
      }
    }
  }
}
