@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

$header-font: "Lobster", sans-serif;
$text-font: "Montserrat", sans-serif;

.incapsulated {
  display: flex;
  margin: auto;
  width: 70%;
}

button {
  font-family: $text-font;
  background: rgb(240, 184, 40);
  border: 1.5px solid black;
  // border: 2px solid rgba(240, 184, 40, 0.9);
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

button:active {
  background: rgb(238, 211, 45);
  border: 2px solid rgb(240, 184, 40);
}
